<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>AutoEntGes - application de gestion d'auto-entreprise</small>
        </div>
    </div>
</footer>