<div class="modal-header">
    <h5 class="modal-title" id="remoteModalTitle">Création devis</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    Le devis à été créé,  <a class="btn btn-primary" href="{{ path('devis_show', {'id': devis.id}) }}">cliquez ici</a> pour afficher le devis.
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
    <a class="btn btn-primary" href="{{ path('devis_show', {'id': devis.id}) }}">Afficher le Devis</a>
</div>